<div id="<%= dom_id inbox %>">
  <p>
    <strong>Name:</strong>
    <%= inbox.name %>
  </p>
  <%= button_to "Destroy this inbox", inbox_path(inbox), method: :delete %>
  <%= button_to "Edit this inbox", edit_inbox_path(inbox), method: :post %>
</div>
