<p >
  Messages: <span id="count"><%= @inboxes.count %></span>
</p>
<div id="new_inbox">
  <%= render partial: "inboxes/form", locals: { inbox: Inbox.new } %>
</div>
<div id="inboxes">
  <%= render @inboxes %>
</div>
